{% extends 'magazine/index.html' %}
{% block jumbotron %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
<div class="content full">
   <div class="feedback-blk">
   <h2>Вы можете связаться с нами отправив письмо. Для этого заполните форму ниже.</h2>
    <div class="feedback-form-blk">
    <form action="{% url 'magazine:feedback' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="feedback-btn">Отправить</button>
    </form></div>
    </div>
</div>
{% endblock %}