{% extends 'magazine/index.html' %}
{% load static extra_items %}
{% block content %}
<div class="content">
    <div id="item-details">
        <div id="item-title-blk"><span id="item-title">{{ product.name }}</span></div>
{% autoescape off %}<div id="item-img"><img src="{% if product.img %}{{ MEDIA_URL }}{{ product.img.url }}{% else %}
        {% static 'images/product-default.jpeg' %}{% endif %}" alt="{{ product.name }}"></div>{% endautoescape %}
        <div id="right block">
            <div id="item-status-blk"><span id="item-status">{{ product.get_status_display }}</span></div>
            {% if not product.discount %}<div id="item-price-blk">Цена: <span id="item-price"> {{ product.price }} {{ currency }}</span></div>
            {% else %}<div id="item-discount-price">Цена: <span id="item-price">{{ product.price }} {{ currency }}</span>
            - <span id="item-discount">{{ product.discount }}%</span> = <span id="total-discount-price">{{ product.discount_price }} {{ currency }}</span></div>
            {% endif %}
            <div id="item-button">
            <form action="{% url "magazine:cart_add" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="В корзину">
            </form>
            </div>
        </div>
        <div id="item-description-blk">
            Информация о товаре
            <div id="item-description">
                <p>{{ product.full_desc|safe }}</p>
            </div>
        </div>
    </div>
    <!--Extra items block-->
    {% extra_items %}
    <!--End Extra items block-->
</div>
{% endblock %}