{% load static %}
<div class="item-box">
    <div class="item-title-blk>"><h4 class="item-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4></div>
    {% autoescape off %}
    <div class="item-img-blk">
        <a href="{{ product.get_absolute_url }}">
        <img src="{% if product.img_preview %}{{ MEDIA_URL }}{{ product.img_preview.url }}{% else %}
        {% static 'images/product-default.jpeg' %}{% endif %}"> </a>
    </div>
    <div class="item-status-blk"> <span>{{ product.get_status_display }}</span></div>
    <div class="item-cod-blk"> <span>Код товара: {{ product.product_code }}</span></div>
    {% if not product.discount %}
    <div class="item-price-blk">
        Цена: <span class="item-price">{{ product.price }} {{ currency }}</span>
    </div>
    {% else %}
    <div class="item-price-discount-blk">
        Цена: <span class="item-price">{{ product.price }} {{ currency }}</span> - <span class="item-discount">{{ product.discount }}%</span> = <span class="item-discount-price">{{ product.discount_price }} {{ currency }}</span>
    </div>
    {% endif %}
    {% endautoescape %}
     <form action="{% url "magazine:cart_add" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="В корзину">
    </form>
</div>

