{% extends 'magazine/index.html' %}
{% load extra_items %}
{% block jumbotron %}{% endblock %}
{% block content %}
<div class="content">
    <div class="center">
        <h1>Корзина</h1>
    </div>
    <div id="cart-blk"></div>
    <div class="cart-form-blk">
        <form action="{% url 'magazine:cart' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Заказать</button>
        </form>
    </div>
    <div class="extra-items">{% extra_items %}</div>
</div>
{% endblock %}