<div class="fotter-container">
    <div id="footer">
        <div class="footer-wrapper">
            <div class="footer-coll">
                <h3>Название 1</h3>
                <ul>
                    <li><a href="#">Ссылка 1</a></li>
                    <li><a href="#">Ссылка 2</a></li>
                    <li><a href="#">Ссылка 3</a></li>
                    <li><a href="#">Ссылка 4</a></li>
                    <li><a href="#">Ссылка 5</a></li>
                </ul>
            </div>
            <div class="footer-coll">
                <h3>Название 1</h3>
                <ul>
                    <li><a href="#">Ссылка 1</a></li>
                    <li><a href="#">Ссылка 2</a></li>
                    <li><a href="#">Ссылка 3</a></li>
                    <li><a href="#">Ссылка 4</a></li>
                    <li><a href="#">Ссылка 5</a></li>
                </ul>
            </div>
            <div class="footer-coll">
                <h3>Название 1</h3>
                <ul>
                    <li><a href="#">Ссылка 1</a></li>
                    <li><a href="#">Ссылка 2</a></li>
                    <li><a href="#">Ссылка 3</a></li>
                    <li><a href="#">Ссылка 4</a></li>
                    <li><a href="#">Ссылка 5</a></li>
                </ul>
            </div>
            <div class="footer-coll">
                <h3>Название 1</h3>
                <ul>
                    <li><a href="#">Ссылка 1</a></li>
                    <li><a href="#">Ссылка 2</a></li>
                    <li><a href="#">Ссылка 3</a></li>
                    <li><a href="#">Ссылка 4</a></li>
                    <li><a href="#">Ссылка 5</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>