<div class="top-menu-blk">
    <nav>
      <ul class="top-menu-ul">
        <li class="{% if active_menu == 'home' %}active{% endif %}"><a href="{% url 'magazine:home' %}">Главная</a></li>
        <li class="{% if active_menu == 'categories' %}active{% endif %}"><a href="{% url 'magazine:categories' %}">Категории</a></li>
        <li class="{% if active_menu == 'feedback' %}active{% endif %}"><a href="{% url 'magazine:feedback' %}">Обратная связь</a></li>
        <li class="{% if active_menu == 'contacts' %}active{% endif %}"><a href="{% url 'magazine:contacts' %}">Контакты</a></li>
      </ul>
    </nav>
</div>